@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans.woff) format('woff');
}


body {
  font-family: 'Open Sans';
  color: white;
}

/*
html {
  background: url(../img/app-bkg-v2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/


  html, body {
      height: 100%;
  }
  html {
      overflow-y: hidden;
  }
  body {
      overflow-y: scroll;
      background-size: cover;
      background-color:#000000;
      background-image:url('../img/app-bkg-v2.jpg');
  }
