@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  src: url(../fonts/OpenSans-Light.woff) format('woff');
}


body {
  font-family: 'Open Sans Light';
  color: white;
}


  html, body {
      margin: 0;
      padding: 0;
      height: 100%;
  }
  html {
      overflow-y: hidden;
  }
  body {
      overflow-y: scroll;
      background-size: cover;
      background-color:#000000;
      background-image:url('../img/app-bkg-v2.jpg');
  }


.app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
