@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  src: url(../fonts/OpenSans-Light.woff) format('woff');
}


body {
  font-family: 'Open Sans Light';
  font-weight: 300;
  color: white;
}

input {
  border-radius: 0;
  color: white;
  margin-left: 10px;
  height: 20px;
  width: 280px;
  background-color: rgba(151, 151, 151, 1);
  border: 1px solid #979797;
}

div.trending {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 10px;
  margin-top: 10px;
  width: 292px;
  height: 360px;
}

div.item {
  color: black;
  width: 100%;
  height: 35px;
  border-bottom: #1e1e1e 1px solid;
}


h1 {
  font-size: 24px;
  margin-left: 10px;
  vertical-align: center;
}

  html, body {
      margin: 0;
      padding: 0;
      height: 100%;
  }
  html {
      overflow-y: hidden;
  }
  body {
      overflow-y: scroll;
      background-size: cover;
      background-color:#000000;
      background-image:url('../img/app-bkg-v2.jpg');
  }


.app {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
