body {
  font-family: Arial;
}

html {
  background: url(../img/app-bkg-v2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
